# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html> 
<html lang="en-AU">
<head>
<title>COSC2196 Assignment 1 Chelsea Parnell</title>
</head>
<body style="font-family:arial;">

<h3 style="font-size:500%;text-align:center;">Personal Information</h3>
<h5 style="font-size:300%;">Name</h5>
<p style="font-size:150%;">Chelsea Parnell</p>
<br>
<h5 style="font-size:300%;">Student Number</h5>
<p style="font-size:150%;">s3922273</p>
<br>
<h5 style="font-size:300%;">Student Email Address</h5>
<p style="font-size:150%;">s3922273@student.rmit.edu.au</p>
<br>
<img src="thumbnail_IMG_2163.jpg" width="600" height="800">
<br>
<h5 style="font-size:300%;">Nationality And Culture</h5>
<p>Australian 2nd generation, culture partially unknown however I do not 
 think it would be too interesting even if i did find out</P>
<br> 
<h5 style="font-size:300%;">Education To Date</h5>
<p style="font-size:150%;">I partially completed a Psychological Science and Criminal Justice 
 Degree, however I dropped out to persue work in the IT industry.</P>
<br>
<h5 style="font-size:300%;">Hobbies</h5>
<p style="font-size:150%;">Self care is at the root of almost anything I do, so my hobbies tend 
 to reflect that. Yoga, music, the outdoors, and animals are at the top of 
 my list. That being said, my ideal weekend would consist of hanging out 
 with my cat Gus and doing absolutely nothing but sleeping and chilling out
 at home.</p>
<br>
<img src="thumbnail_IMG_2006.jpg" width="600" height="800">
<br>

<h3 style="font-size:500%;text-align:center:">Interest In IT</h3>
<h5 style="font-size:300%;">What is your interest in IT? When did your interest in IT start? Was 
 there a particular event or person that sparked your interest? Outline your
 IT experience (if any).</h5>
<p style="font-size:150%;">I was lucky enough to be given the opportunity to own a few companies at
 a young age, and that allowed me to explore a few different aspects of 
 business. It was here that I found my love for IT, as I took it upon 
 myself to learn to repair our in-house CRM. I did not think that this 
 would be something that I enjoy, however I quickly found a passion for it
  and realised that it was definitely something I wanted to persue. From 
  there, I did some unaccredited training in my personal time to make sure
   IT was something I could enjoy consistently, and my love for it only 
   grew. Outside of loving the content itself, I am excited about what a 
   degree and work in the field could do for me and my lifestyle. I am 
   aware that it will not always be sunshine and roses, however I am 
   excited to overcome the challenges that I have to face in my future.</p>
<br>
<h5 style="font-size:300%;">Why did you choose to come to RMIT?</h5>
<p style="font-size:150%;">For me, RMIT allowed me the freedom to continue working and have a 
 healthy work/life balance, while feeling like I am still progressing at a 
 steady pace. The 13 week schedule, and the remote aspect allow me to 
 continue on life almost as normal. I also have a few friends who have 
 quite respectable careers who constantly rave about RMIT which only 
 further swayed my choice. </p>
<br>
<h5 style="font-size:300%;">What do you expect to learn during your studies?</h5>
<p style="font-size:150%;">I hope to learn the ins and outs of the IT industry, how to be an 
 effective worker whether that be as an employee or self-employed, how to 
 code and create/store/share data. What I expect is hard to say however, as
 I do not know what I do not know. Being so early into the degree, I trust
  that I barely know anything about the industry as of yet, and I am 
  excited to widen my scope.</p>
<br>

<h3 style="font-size:500%;text-align:center;">Ideal Job </h5>
<h5 style="font-size:300%;"> What is the job itself?</h5>
<p style="font-size:150%;">Ideally I would love to be self-employed as a Project Manager, focusing
 on the education sector. This is because of my prior experience, and my
 love for anything effeciency related. I would love to create a system 
 which combines methods of machine learning and data management to lessen 
 the time of lead acquisition/marketing decision making/learning tool
 development/data collection and submission which would in turn allow 
 teachers and trainers to have more and far more rich time in classrooms
 with students.</p>
<br>
<p style="font-size:150%;">It is therfore hard to find a suitable job listing that I found 
 particularly ideal, but please find some below that are similar to what 
 I would like to achieve.</p>
<br>
<a href="https://www.seek.com.au/job/53919853?type=promoted#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">Development Manager Housing Choices Australia</a>
<br>
<a href="https://www.seek.com.au/job/53950008?type=standout#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">IT Project Manager Marsh Pty Ltd</a>
<br>
<a href="https://www.seek.com.au/job/53959262?type=standout#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">IT Project Manager</a>
<br>
<h5 style="font-size:300%;">What skills would be required?</h5>
<p style="font-size:150%;">It will be necessary for me to complete qualifications in both IT and 
 Project Management, whether that be a degree like im doing for IT, or a 
 Certificate like what I plan on doing for Project Management (at least
 for the moment). A degree will give me far more in depth knowledge which
 I believe is necessary for a subject like IT, however for a subject like
 Project Management I do believe that on the job learning would be more 
 effective. I am also aware that there may be far more to project management 
 that I simply do not know yet which may change my mind in future as to 
 whether or not I persue a degree or not. I do understand the importance
 of having skills and qualifications down on paper, which is why a degree
 in IT and a Certificate IV in Project Management Practice (BSB41515) seems
 to be the best option.</p>
<br>
<h5 style="font-size:300%;">What current skills, qualifications, and experience do you currently
 have?</h5>
<p style="font-size:150%;">I have been a naturally gifted people person and leader, and this allows
 me to easily and effectively communicate with a team and get a job done. 
 I figured it a smart idea to build on these skills with a degree in 
 Psychological Science and Criminal Justice (the latter came from personal
 experience and views) but I quickly found that this would not work for me 
 for a few different reasons. It was during this time that my career in 
 sales began to rise, and I was given the opportunity to join a group of 
 Registered Training Organisations (RTO) managing their sales and lead acquisition 
 facets. From there my contemporaries trained me in IT system management, 
 admin, and accounts management. Of course this was all specific to the 
 RTOs however I do believe that those skills will allow me to learn others
 slightly easier - or at least I hope. On a bare basic level, I believe that
 I bring a fresh set of eyes to an industry that has been stuck in its old 
 ways, and that my knack for the back end side of a business combined with 
 my natural people skills makes me a brilliant all-rounder and perfect for 
 a position like project management.</p>
<br>
<h5 style="font-size:300%;">What is your plan to obtain the skills, qualifications and experience 
 required for the position?</h5>
<p style="font-size:150%;">I plan to continue my IT studies with RMIT, and to either progress further 
 in my current position with RACQ or apply for an under graduate position
 which will allow me to get hands on experience in the industry and build
 on my resume ahead of time. Depending on RTO funding rules, personal 
 finance, and time constraints, I will either complete a Certificate IV 
 in Project Management during or after my studies with RMIT. I believe this
 combination of formal study and workplace experience will give me the best
 chance of success.</p>
<br>

<h3 style="font-size:500%;font-align:center;">Personal Profile</h3>
<h5 style="font-size:300%;">Myers Briggs Type</h5>
<p style="font-size:150%;">My result is ENFP or The Campaigner, and can be explained as someone who
 tends to embrace big ideas and actions that reflect their sense of hope and
 goodwill toward others. Their vibrant energy can flow in many directions.
 Strengths are listed as curious, perceptive, enthusiastic, excellent 
 communicators, festive, and good-natured. Weaknesses include people-pleasing,
 lack of focus, disorganisation, over accomodation, over optimism, and 
 restlessness.</p>
<br>
<h5 style="font-size:300%;">Online Learning Style Type</h5>
<p style="font-size:150%;">I scored 45% auditory, 35% tactile, and 20% visual. This means that I 
 should utalise podcasts, lectures, listen to music during quiet periods, 
 practice reading aloud, and discuss. I can also use games, movement, 
 exercise, and chants to help if I am feeling stuck.</p>
<h5 style="font-size:300%;">Berkeley Emotional Intelligence Test Results</h5>
<p style="font-size:150%;">On my first attempt I recieved a score of 15/20, and on my second a score 
 of 14/20. This suggests that while better than average, my self perceived
 people skills may not be as strong as I think, and this gives me room 
 to improve personally and professionally.</p>
<br>
<h5 style="font-size:300%;"> What do the results of this test mean for you?</h5>
<p style="font-size:150%;">The results of these tests combined excite me, as it reaffirms what I 
 believe to be true, but also gives me room to improve. The excitment comes 
 because while I am happy with my current skill set and the fruits it produces
 it means that I can greatly improve further and therefore produce higher 
 quality! By combining the skills outlined in the Myers-Briggs test, focusing
 on my auditory and tactile/kinesthetic learning types, and practicing my 
 emotional skills I can build further on my natural skill set.</p>
<br>
<h5 style="font-size:300%;">How do you think these results may influence your behaviour in a team?</h5>
<p style="font-size:150%;">Looking at the typical workplace habits for an ENFP personality type, 
 creativity, adaptability, and curiosity will work best for me. Luckily enough, 
 this is great for working in a team where brainstorming new ideas is a necessity. 
 According to <a href="https://www.16personalities.com/enfps-at-work"target="_blank">
 16 Personalities</a> I do have a tendency to people-please, and because of my 
 personalibility this leads to difficulty with staying on task and reprimanding
 where necessary. Playing towards my strengths and being wary but not afraid of 
 my faults is the most effective way to work in a team, and the best way to know
 what is working and what is not is by getting feedback from my team members.</p>
<br>
<h5 style="font-size:300%;">How should you take this into account when forming a team?</h5>
<p style="font-size:150%;">I believe that a well rounded and cohesive team will allow for the best 
 results, so it is important ot insure that people of all different mindsets
 are included. This in my opinion allows for the most informative brainstorming 
 sessions and more times than not there is at least one person who knows how to 
 solve a problem. Ensuring that eveyone feels comfortable to voice their 
 opinions and learning styles so that we can accomodate and make a positive
 learning environment is imperative for success.</p>


</body>
</html>

