# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html> 
<html lang="en-AU">
<head>
<title>COSC2196 Assignment 1 Chelsea Parnell</title>
</head>
<body>

<h3>Personal Information</h3>
<h5>Name</h5>
<p>Chelsea Parnell</p>
<br>
<h5>Student Number</h5>
<p>s3922273</p>
<br>
<h5>Student Email Address</h5>
<p>s3922273@student.rmit.edu.au</p>
<br>
<img src="thumbnail_IMG_2163.jpg" width="600" height="800">
<br>
<h5>Nationality And Culture</h5>
<p>Australian 2nd generation, culture partially unknown however I do not 
think it would be too interesting even if i did find out</P>
<br> 
<h5>Education To Date</h5>
<p>I partially completed a Psychological Science and Criminal Justice 
Degree, however I dropped out to persue work in the IT industry.</P>
<br>
<h5>Hobbies</h5>
<p>Self care is at the root of almost anything I do, so my hobbies tend 
to reflect that. Yoga, music, the outdoors, and animals are at the top of 
my list. That being said, my ideal weekend would consist of hanging out 
with my cat Gus and doing absolutely nothing but sleeping and chilling out
 at home.</p>
<br>
<img src="thumbnail_IMG_2006.jpg" width="600" height="800">
<br>

<h3>Interest In IT</h3>
<h5>What is your interest in IT? When did your interest in IT start? Was 
there a particular event or person that sparked your interest? Outline your
 IT experience (if any).</h5>
<p>I was lucky enough to be given the opportunity to own a few companies at
 a young age, and that allowed me to explore a few different aspects of 
 business. It was here that I found my love for IT, as I took it upon 
 myself to learn to repair our in-house CRM. I did not think that this 
 would be something that I enjoy, however I quickly found a passion for it
  and realised that it was definitely something I wanted to persue. From 
  there, I did some unaccredited training in my personal time to make sure
   IT was something I could enjoy consistently, and my love for it only 
   grew. Outside of loving the content itself, I am excited about what a 
   degree and work in the field could do for me and my lifestyle. I am 
   aware that it will not always be sunshine and roses, however I am 
   excited to overcome the challenges that I have to face in my future.</p>
<br>
<h5>Why did you choose to come to RMIT?</h5>
<p>For me, RMIT allowed me the freedom to continue working and have a 
healthy work/life balance, while feeling like I am still progressing at a 
steady pace. The 13 week schedule, and the remote aspect allow me to 
continue on life almost as normal. I also have a few friends who have 
quite respectable careers who constantly rave about RMIT which only 
further swayed my choice. </p>
<br>
<h5>What do you expect to learn during your studies?</h5>
<p>I hope to learn the ins and outs of the IT industry, how to be an 
effective worker whether that be as an employee or self-employed, how to 
code and create/store/share data. What I expect is hard to say however, as
 I do not know what I do not know. Being so early into the degree, I trust
  that I barely know anything about the industry as of yet, and I am 
  excited to widen my scope.</p>
<br>

<h3>Ideal Job</h5>
<h5> What is the job itself?</h5>
<p>Ideally I would love to be self-employed as a Project Manager, focusing
on the education sector. This is because of my prior experience, and my
love for anything effeciency related. I would love to create a system 
which combines methods of machine learning and data management to lessen 
the time of lead acquisition/marketing decision making/learning tool
development/data collection and submission which would in turn allow 
teachers and trainers to have more and far more rich time in classrooms
with students.</p>
<br>
<p>It is therfore hard to find a suitable job listing that I found 
particularly ideal, but please find some below that are similar to what 
I would like to achieve.</p>
<br>
<a href="https://www.seek.com.au/job/53919853?type=promoted#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">Development Manager Housing Choices Australia</a>
<br>
<a href="https://www.seek.com.au/job/53950008?type=standout#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">IT Project Manager Marsh Pty Ltd</a>
<br>
<a href="https://www.seek.com.au/job/53959262?type=standout#searchRequestToken=92eaaa67-a46d-47b9-b94c-21213b40360d"
target="_blank">IT Project Manager</a>
<br>
<h5>What skills would be required?</h5>
<p>It will be necessary for me to complete qualifications in both IT and 
Project Management, whether that be a degree like im doing for IT, or a 
Certificate like what I plan on doing for Project Management (at least
for the moment). A degree will give me far more in depth knowledge which
I believe is necessary for a subject like IT, however for a subject like
Project Management I do believe that on the job learning would be more 
effective. I am also aware that there may be far more to project management 
that I simply do not know yet which may change my mind in future as to 
whether or not I persue a degree or not. I do understand the importance
of having skills and qualifications down on paper, which is why a degree
in IT and a Certificate IV in Project Management Practice (BSB41515) seems
to be the best option.</p>
<h5>What current skills, qualifications, and experience do you currently
have?</h5>
<p>I have been a naturally gifted people person and leader, and this allows
me to easily and effectively communicate with a team and get a job done. 
I figured it a smart idea to build on these skills with a degree in 
Psychological Science and Criminal Justice (the latter came from personal
experience and views) but I quickly found that this would not work for me 
for a few different reasons. It was during this time that my career in 
sales began to rise, and I was given the opportunity to join a group of 
Registered Training Organisations (RTO) managing their sales and lead acquisition 
facets. From there my contemporaries trained me in IT system management, 
admin, and accounts management. Of course this was all specific to the 
RTOs however I do believe that those skills will allow me to learn others
slightly easier - or at least I hope. On a bare basic level, I believe that
I bring a fresh set of eyes to an industry that has been stuck in its old 
ways, and that my knack for the back end side of a business combined with 
my natural people skills makes me a brilliant all-rounder and perfect for 
a position like project management.</p>




</body>
</html>

